<?xml version='1.0' encoding='utf-8'?>
<widget id="org.coenraets.workshop" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KiiPhonegapDemo</name>
    <description>
        Employee directory sample app.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="DisallowOverscroll" value="true" />

</widget>
